
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  font-family: sans-serif;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.tablecontent {
  margin: 0 auto;

  tr {
    height: 50px;

    th, td {
      padding: 0 10px;
      vertical-align: middle;
    }
  }
}
.sidebar {
  padding-top: 50px;
  text-align: center;
  padding-left: 20px;
}
